$primaryColor: hsl(193, 38%, 86%);
$neonColor: hsl(150, 100%, 66%);
$grayishColor: hsl(217, 19%, 38%);
$darkGrayishColor: hsl(217, 19%, 24%);
$darkColor: hsl(218, 23%, 16%);

$desktopLarge: 1440px;
$desktopNormal: 1200px;
$desktopSmall: 1024px;
$tabletLarge: 991px;
$tablet: 768px;
$mobilexLarge: 640px;
$mobileLarge: 426px;
$mobileMedium: 375px;
$mobileSmall: 320px;
