@font-face {
  font-family: "Manrope";
  font-weight: 800;
  src: url("./assets/fonts/Manrope-ExtraBold.ttf");
}
@import "~bootstrap/scss/bootstrap";

@import "assets/scss/variables";
@import "assets/scss/mixins";
@import "assets/scss/buttons";
@import "assets/scss/global";
@import "assets/scss/card";
